<div class="header-submenu">
    <h1 class="titulo pb-3 pt-4">Notificações</h1>
</div>
<div class="body-notif">
    <div class="new-notif">
        <div class="session-header p-2">
            <p class="session-h-item">Novas (2)</p><p>Marcar todas como Lidas</p>
        </div>
        <div class="scroll">
            <div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
    <div class="read-notif">
        <div class="session-header p-2">
            <p class="session-h-item">Lidas</p>
        </div>
        <div class="scroll-second">
            <div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
                <div class="session mb-3 pb-3">
                    <div class="session-start mt-3 ms-3">
                        <img src="assets/icons/file-text.svg" alt=""><p>Contratos</p>
                    </div>
                    <div class="m-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has </p>
                    </div>
                    <div class="item-end ms-4 mx-4">
                        <button>Marcar como lida</button>
                        <p>2h atrás</p>
                    </div>
                </div>
        </div>
        </div>
</div>
