$blue-pattern: #2847a0;
$blue-light: #3265ee;
$white-color: #fff;


* {
    padding: 0;
    margin: 0;
}

/* DROPDOWN */

li {

    a {
        font-size: 14px;

        img {
            margin-right: 4px;
        }
    }

    a:hover {
        font-weight: bold;
        background-color: transparent;
    }
}

    .dropdown-divider {
          height: 0;
    }


.link-portal {
    color: $blue-pattern;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}