<!-- #region HEADER -->
<simple-header [breadcrumbList]="[ 'Configurações', 'Lista de Grupos', 'Formulário' ]" [mode]="editingMode ? 'edit' : 'add'"
  (onReturn)="returnToList()" (onCreate)="createGrupo()" (onUpdate)="updateGrupo()" />
<!-- #endregion HEADER -->

<!-- #region PRINCIPAL -->
<div id="main-container" class="d-flex flex-column align-content-between">
  <div>
    <ul class="nav nav-tabs" id="formTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="dados-gerais-tab" data-bs-toggle="tab" data-bs-target="#dados_gerais" type="button" role="tab" aria-controls="dados_gerais" aria-selected="true">Dados Gerais</button>
      </li>
    </ul>

    <div class="tab-content" id="formTabContent">

      <!-- DADOS GERAIS -->
      <div class="px-3 py-4 mb-4" [class]="editingMode ? 'glb-main-container-tab' : 'glb-main-container'">

        <!-- #region HEADER CONTENT -->
        <h3 class="glb-fs-18 glb-fw-600 mb-3"> Dados Gerais </h3>
        <hr class="mt-0">
        <!-- #endregion HEADER CONTENT -->

        <!-- #region MAIN CONTENT -->
        <form [formGroup]="form">
          
          <!-- #region NOME -->
          <div class="col-12">
            <label for="inputNome" class="form-label">Nome*</label>
            <input type="text" class="form-control" id="inputNome" formControlName="nome"
              [class.is-invalid]="FormUtils.isInvalidField(form.get('nome'))" [(ngModel)]="grupoData.NOME">
            <app-field-error-message [control]="form.get('nome')" label="Nome"></app-field-error-message>
          </div>
          <!-- #endregion NOME -->

          <!-- #region DESCRIÇÃO -->
          <div class="col-12">
            <label for="textareaDescricao" class="form-label">Descrição</label>
            <textarea class="form-control textarea w-100" id="textareaDescricao" formControlName="descricao"
              [class.is-invalid]="FormUtils.isInvalidField(form.get('descricao'))" cols="5" rows="3"
              [(ngModel)]="grupoData.DESCRICAO">
            </textarea>
            <app-field-error-message [control]="form.get('descricao')" label="Descrição"></app-field-error-message>
          </div>
          <!-- #endregion DESCRIÇÃO -->

        </form>
        <!-- #endregion MAIN CONTENT -->
       
      </div>
    </div>
  </div>
</div>
<!-- #endregion PRINCIPAL -->
