<!-- #region HEADER -->
<simple-header [breadcrumbList]="[ 'Painel de Pessoas' ]" mode="list">
   <a customButton1 class="btn-adicionar btn btn-primary" routerLink="/painel-pessoas/adicionar" routerLinkActive="active">
      <app-svg-storage svgName="mais"></app-svg-storage>
      <span class="ms-2"> Adicionar </span>
   </a>
</simple-header>
<!-- #endregion HEADER -->


<div class="glb-main-container p-3">
   <!-- #region SEARCH AND FILTERS -->
   <app-search-filters class="d-flex col-12 mb-4" placeholder="Pesquisar pelo n° do documento ou nome..." [useIsActive]="true"
      (_executeGetBySearch)="getPessoasList($event)" (_EMIT_CLEAR_EXTRA_INPUT)="pessoasFilters.TIPO = ''; pessoasFilters.PAPEL = ''">

   <!-- #region COMBOBOX DE TIPO DE PESSOA -->
   <select class="form-select ms-3 w-25" [(ngModel)]="pessoasFilters.TIPO">
      <option value="" selected disabled>Tipo de Pessoa</option>
      <option value="FIS"> Física </option>
      <option value="JUR"> Jurídica </option>
   </select>
   <!-- #endregion COMBOBOX DE TIPO DE PESSOA -->

   <!-- #region COMBOBOX DE PAPEL DE PESSOA -->
   <select class="form-select ms-3 w-25" [(ngModel)]="pessoasFilters.PAPEL">
      <option value="" selected disabled>Papéis mais comuns</option>
      <option value="FOR"> Fornecedor </option>
      <option value="CLI"> Cliente </option>
      <option value="FUNC"> Funcionário </option>
   </select>
   <!-- #endregion COMBOBOX DE PAPEL DE PESSOA -->

   </app-search-filters>
   <!-- #endregion SEARCH AND FILTERS -->

   <!-- #region TABLE -->
   @if ($pessoasList) {
      <div class="table-list w-100 position-relative">
         <span class="ms-1"> Exibindo {{ this.counter }} registros </span>
         <div class="table-list overflow-hidden border-bottom-0 rounded-bottom rounded">
            <table class="table table-hover border mb-0">
               <thead>
                  <tr class="table-light">
                     <!-- <th scope="col" class="col-1 align-middle text-secondary"> Código
                        <app-ordering [sortDirection]="sortDirection['CD_PESSOA']" [sortAttributes]="['CD_PESSOA']" (sortChange)="onSortChange({ direction: $event.direction, column: 'CD_PESSOA' })"></app-ordering>
                     </th> -->
                     <th scope="col" class="col-3 align-middle"> Nome </th>
                     <th scope="col" class="col-2 align-middle"> CPF/CNPJ </th>
                     <th scope="col" class="col-2 align-middle text-end"> Nascimento/Fundação </th>
                     <th scope="col" class="col-4 align-middle"> Registro no sistema </th>
                     <th scope="col" class="col-1 align-middle text-end"> Ações </th>
                  </tr>
               </thead>

               <tbody class="bg-light fade-in-row">
                  @for (pessoa of $pessoasList | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track pessoa) {
                     <tr class="align-middle">
                        <td><a class="text-primary text-decoration-none fw-bold" tooltip="Editar/Visualizar"
                           [routerLink]="['/painel-pessoas/editar', pessoa.ID_PESSOA]" routerLinkActive="active">{{ pessoa.TX_NOMEPESSOA }}</a>
                           <p class="mb-0"><b>Naturalidade:</b> {{ pessoa.IS_ESTRANGEIRO ? 'Estrangeira' : 'Brasileira' }}</p>
                        </td>
                        <td>{{ pessoa.TX_DOCUMENTO }}</td>
                        <td class="text-end">{{ pessoa.TIPOPESSOA_CD == "FIS" ? (pessoa.DT_NASCIMENTO | date: 'dd/MM/yyyy') : (pessoa.DT_FUNDACAO | date: 'dd/MM/yyyy') }}</td>
                        <td>
                           <p class="my-0"><b>Criado em: </b> {{ pessoa.DT_CRIACAO | date: 'dd/MM/yyyy, HH:mm:ss' }}</p>
                           <p class="my-0"><b>Última alteração em: </b> {{ (pessoa.DT_ULTIMAALTERACAO | date: 'dd/MM/yyyy') == "01/01/1900" ? "Nenhuma alteração recente" : pessoa.DT_ULTIMAALTERACAO | date: 'dd/MM/yyyy, HH:mm:ss' }}</p>
                        </td>
                        <td>
                           <div class="d-flex flex-row align-items-center justify-content-end">
                              <app-svg-storage svgName="editar" svgColor="blue" tooltip="Visualizar/Editar" />
                              <div class="form-check form-switch ms-2"> <input class="form-check-input" type="checkbox" role="switch" [checked]="pessoa.IS_ACTIVE"> </div>
                           </div>
                        </td>
                     </tr>
                  }
                  @empty { <tr> <td colspan="12" class="align-middle"><span class="fw-light fst-italic text-center"> Consulta não retornou registros... </span></td> </tr> }
               </tbody>
            </table>
   
            <!-- #region PAGINATION -->
            <div class="d-flex justify-content-end mt-2" *ngIf="$pessoasList.length > 0">
               <div class="d-flex align-items-center">
                  <label class="me-2" style="white-space: nowrap;"> Itens por página </label>
                  <select class="form-select select-search" (change)="onSelectChange($event)">
                     <option class="selected" value="10" selected>10</option>
                     <option value="15">15</option>
                     <option value="20">20</option>
                  </select>
               </div>
   
               <pagination-controls class="sp-pagination sp-pagination-success mt-3" (pageChange)="page = $event" previousLabel="«&nbsp;&nbsp;&nbsp;" nextLabel="&nbsp;&nbsp;&nbsp;»" [maxSize]="5"></pagination-controls>
            </div>
            <!-- #endregion PAGINATION -->
         </div>
      </div>
   } @else {
      <div class="w-100 text-center">
         <div class="spinner-border" role="status"> <span class="visually-hidden">Carregando informações...</span> </div>
      </div>
   }
   <!-- #endregion TABLE -->
</div>


<!-- #region TEMPLATES -->



<!-- #endregion TEMPLATES -->
