<div id="main-container" class="d-flex flex-row align-content-center justify-content-center">
	<!-- #region MAIN CONTENT -->
	<div class="px-3 py-4 mb-4 w-50 glb-main-container">
		<form [formGroup]="form">
			<div class="row">
				<div class="col-12 mb-3">
					<label for="inputCode" class="form-label"> Código de validação <span class="text-danger">*</span></label>
					<input type="text" id="inputCode" class="form-control" formControlName="code"
						[class.is-invalid]="FormUtils.isInvalidField(form.get('code'))">
					<app-field-error-message [control]="form.get('code')" label="Código de validação"></app-field-error-message>				
				</div>
			</div>

			<div class="row">
				<div class="col-12 mb-3">
					<label for="inputPassword" class="form-label"> Digite uma nova Senha <span class="text-danger">*</span></label>
					<input type="password" id="inputPassword" class="form-control" formControlName="password"
						[class.is-invalid]="FormUtils.isInvalidField(form.get('password'))">
					<app-field-error-message [control]="form.get('password')" label="{{ passwordLabel }}"></app-field-error-message>				
				</div>
			</div>
			
			<div class="row">
				<div class="col-12 mb-3">
					<label for="inputConfirmPassword" class="form-label"> Confirme sua nova Senha <span class="text-danger">*</span></label>
					<input type="password" id="inputConfirmPassword" class="form-control" formControlName="confirmPassword"
						[class.is-invalid]="FormUtils.isInvalidField(form.get('confirmPassword'))">
					<app-field-error-message [control]="form.get('confirmPassword')" label="Confirme sua Senha"></app-field-error-message>				
				</div>
			</div>

			<div class="row">
				<div class="col-12 mb-3">
					<button type="button" class="btn glb-btn-dark-disabled modal-button" (click)="cancelar()">							<span> Cancelar </span>
					</button>
					<button type="button" class="btn btn-primary modal-button ms-3" (click)="sendPassword()">
						<span> Confirmar </span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- #endregion MAIN CONTENT -->
</div>
