<div class="d-flex flex-row">
    <button class="chevron d-flex m-0 p-0 align-items-start" (click)="backToPrimary()"> 
      <app-svg-storage svgName="seta-esquerda" svgSize="small"></app-svg-storage>
    </button>

    <div class="d-flex flex-column flex-row">
      <li><img class="ms-1" src="assets/icons/gestao-pessoas.svg" alt=""><span>Gestão de Pessoas</span></li>
      <li><a class="dropdown-item" href="#">Folha de Pagamento</a></li>
      <li><a class="dropdown-item" href="#">SeuRH</a></li>
    </div>
</div>