<div class="header-submenu">
    <h1 class="titulo pb-3 pt-4">Pesquisar</h1>
    <div class="itens-list">
          <div class="input-group rounded" style="justify-content: center;">
            <div class="search-container">
                  <input type="search" class="form-control rounded search-bar mx-3" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" id="search-bar" />
                    <img class="search-blue" src="assets/icons/search-blue.svg" alt="" (click)="getFocus()">
            </div>
          </div>
    </div>
</div>
